body {
    margin: 1%;
    padding: 0;
    font-family: sans-serif;
    color: #444;
}

header {
    background-color: #DFB887;
    height: 35px;
    width: 100%;
    /*opacity: .4;*/
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px;
    overflow: hidden;
    background-color: #ccc;
}

li {
    float: left;

}


li a {
    display: block;
    color: black;
    margin: 1px;
    padding: 5px;
    text-decoration: none;
}

li a:visited {
    text-decoration: none;
    color: black;
}

li a:hover {
    background-color: #11cc11;
}

li a.active {
    background-color: #0b0;
}

button.meal {
    display: inline-block;
    width: 90%;
    margin-left: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 5px 200px;
    text-align: center;
    text-decoration: none;
    border: none;
    color: #111;
    background-color: #808080;
}

button.meal:hover {
    color: #fff;
    background-color: #2011a7;
}