<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Manage meals</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage.css') }}"/>
</head>
<body>
<header>
    <h1>random-meal generator</h1>
</header>
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('startpage') }}">Start</a></li>
        <li><a href="{{ url_for('all_meals') }}">Manage</a></li>
    </ul>
</nav>

<main>
    <div class="meal-editing">
        <form action="{{ url_for('update_meal') }}" method="post">
            <input type="hidden" name="meal_id" value="{{ meal_id }}"/><br>
            <input type="text" name="meal_name" value="{{ meal['name'] }}"/><br>
            <input type="number" name="meal_difficulty" value="{{ meal['difficulty']}}" min="1" max="5"/><br>
            <input type="text" name="meal_ingredients" value="{{ ingredients }}"/><br>
            <input type="submit" value="Update"/>
            <input type="reset" value="Reset"/>
        </form>
    </div>
</main>
<footer>
</footer>
</body>
</html>
